# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#cms
/backend/cms/*.php
/backend/cms/*.html
/backend/cms/*.txt
/backend/cms/*.htaccess
/backend/cms/wp-admin/
/backend/cms/wp-includes/
/backend/cms/wp-content/upgrade/
/backend/cms/wp-content/uploads/
/backend/cms/wp-content/plugins/
/backend/cms/wp-content/themes/twentytwenty
/backend/cms/wp-content/themes/twentytwentyone
/backend/cms/wp-content/themes/twentytwentytwo
/backend/cms/wp-content/themes/index.php
/backend/cms/wp-content/index.php
